[2020-11-28 17:00] tschaffter opened #1 "Apply same badges order to all repositories"
Apply same badges order on the README of all repositories.

Use the badge preview generated by GitCompare to track the progress.

https://gitcompare.com/report?packages=nlpsandbox%2Fdata-node&packages=nlpsandbox%2Fdate-annotator-example&packages=nlpsandbox%2Fdate-annotator-example-java&packages=nlpsandbox%2Fdiscord&packages=nlpsandbox%2Fnlpsandbox-client&packages=nlpsandbox%2Fnlpsandbox-infrastruc

[2020-12-05 14:04] tschaffter opened #2 "Draft CD2H Phase IV deliverable report"

[2021-01-08 00:22] tschaffter opened #3 "Create first draft of the website home page"
https://www.synapse.org/#!Synapse:syn22277124/wiki/604825

[2021-01-08 00:23] tschaffter opened #4 "Create challenge banner version 2"

[2021-01-08 00:24] tschaffter opened #5 "Review Discord server configuration"
- Review rules
- Review notifications posted by GitHub
- Invite all current members
- Cleanup channels

[2021-01-08 00:28] tschaffter opened #6 "Deploy Data Hosting Site at MCW"
@gkowalski What can we do in order to deploy one day our benchmarking infrastructure at MCW so that tools submitted for evaluation can be evaluated on private, MCW data?

[2021-01-08 00:29] tschaffter opened #7 "Deploy Data Hosting Site at Mayo Clinic"
@ymnliu What can we do in order to deploy one day our benchmarking infrastructure at Mayo Clinic so that tools submitted for evaluation can be evaluated on private, Mayo Clinic data?

[2021-01-08 00:30] tschaffter opened #8 "Deploy Data Hosting Site at UW"
@yy6linda What can we do in order to deploy one day our benchmarking infrastructure at UW so that tools submitted for evaluation can be evaluated on private, UW data? What is the name of the person mentioned by Tim recently who is in charge of everything related to NLP at UW?

[2021-01-08 00:37] tschaffter opened #9 "Prepare slides the launch presentation early in February"

[2021-01-08 00:38] tschaffter opened #10 "Prepare video tutorial on how to develop and submit tools to the NLP Sandbox"

[2021-01-08 00:40] tschaffter opened #11 "Announce the launch of the NLP Sandbox"
- Twitter
  - [ ] Sage
  - [ ] CD2H?
- LinkedIn
  - [ ] Thomas's account
  - [ ] Sage account
  - [ ] DREAM account
- Slack
  - [ ] Sage
  - [ ] Challenge Platform
  - [ ] DREAM

[2021-01-08 00:48] tschaffter opened #12 "Develop and submit MCW annotators"
@gkowalski Is it possible for you to create one or more annotators (date, person name and/or physical address annotators), associate them to an "MCW" team on Synapse and submit them for evaluation so that they appear in the leaderboard tables when we launch the NLP Sandbox?

[2021-01-08 00:49] tschaffter opened #13 "Develop and submit Mayo Clinic annotators"
@ymnliu Is it possible for you to create one or more annotators (date, person name and/or physical address annotators), associate them to a "Mayo Clinic" team on Synapse and submit them for evaluation so that they appear in the leaderboard tables when we launch the NLP Sandbox?

[2021-01-08 00:51] tschaffter opened #14 "Develop and submit UW annotators"
@yy6linda Do you know someone at UW (researchers and/or fellow students) who may be interested in building and submitting an annotators to the NLP Sandbox?

[2021-01-08 01:00] tschaffter opened #15 "Identify the submission quota"
In the COVID DREAM Challenge, participants are allowed to submit daily. @yy6linda it would be interesting to interview developers (in particular the ones who are submitting daily) what is their development strategy.

For this second continuous benchmarking experiment, I would prefer to allow a smaller number of submissions. Typically 1 or 2 submissions per week in order to limit overfitting.

I la

[2021-01-08 01:37] tschaffter opened #16 "Uniformize the GitHub Topics associated to the repositories"

[2021-01-08 03:57] tschaffter opened #17 "Write down a comprehensive description of each performance metric"
no weekly update as we do in the COVID-19 challenge

[2021-01-08 05:55] thomasyu888 commented on #17
@tschaffter This is dependent on https://github.com/nlpsandbox/nlpsandbox-controller/issues/42.  The leaderboard submission view can be found here: https://www.synapse.org/#!Synapse:syn23747126/tables/.

<img width="734" alt="Screen Shot 2021-01-08 at 1 49 39 PM" src="https://user-images.githubusercontent.com/10556275/103979372-a6d8f200-51b8-11eb-8dae-64d51bf43e8a.png">

From the linked issue, ple

[2021-01-08 06:06] tschaffter commented on #17
@thomasyu888

Date annotation task only: If the gold standard includes at least one `dateFormat` value, then compute `date_format_F1`, `date_format_recall`, `date_format_precision` (here there is no need to do a distinction between instance/token or relax/strict).

Person name annotation task only: Just ignore this case. We haven't settled yet on how to model the "type of person".

Physical addres

[2021-01-08 06:11] thomasyu888 commented on #17
@tschaffter
Thanks, the leaderboards can be found [here](https://www.synapse.org/#!Synapse:syn22277124/wiki/607367).  They are just under Internal subpages, but we can easily shift them to a different wiki page.  Here are a couple of action items that we need to do.

1. I think it will help me if I was able to get the output of the evaluator in all of these scenarios.  That would help me the most

[2021-01-08 06:12] tschaffter commented on #17
Complement to the above answer: The "HIPAA" category is when doing the evaluation only for address objects that are covered by the HIPAA standard. @yy6linda knows which address types to consider. Currently, the non-HIPAA case correspond to the "I2B2" category.

[2021-01-08 06:17] tschaffter commented on #17
I don't see the leaderboard when following the above link

![image](https://user-images.githubusercontent.com/3056480/103980905-992e5880-5135-11eb-8888-dae25b00aa51.png)

@yy6linda Please review the comments posted by Tom. Also, consider adding the keyword "i2b2" to all the non-HIPAA categories to be consistent. Adopt a common variable name schema like (location|date_format|address_type) + "_" + (

[2021-01-08 06:23] thomasyu888 commented on #17
@tschaffter, Its in the sub pages.

[2021-01-08 09:37] thomasyu888 commented on #17
For discussion, this is what each annotation type's scoring returns:

* date
[code]

* person

[code]

* address
[code]

[2021-01-08 15:19] gkowalski commented on #12
Sure that was the goal . I hope Synapse is up and running ...

[2021-01-08 15:22] gkowalski commented on #6
We need to come up with documentation on how that is done first. Then I can then take that and work with our Sysadmin to get it deployed at MCW.  We generally like to work on Linux boxes, but we can get Windows if necessary for some reason. Dockerized solutions like we have should run anywhere.

[2021-01-08 17:55] yy6linda commented on #14
I don't have any names out of my head but I can share the news with some research groups at UW working on clinical notes de-identification to see if they are interested.

[2021-01-08 17:57] tschaffter commented on #17
@thomasyu888 Following a stand up meeting with @yy6linda , she will write down a comprehensive description of each performance metrics / categories and how they are computed. I will then review this proposal before we move on with the completion of its implementation.

[2021-01-08 18:01] yy6linda commented on #8
It's Meliha Yestigen, I set up a meeting with her and Sean in summer 2020 and you were there too. Back then, she mentioned there were some issues preventing her from sharing clinical notes with us for the NLP sandbox because the data is owned by several labs at UW.

[2021-01-08 18:01] tschaffter commented on #17
@thomasyu888 @yy6linda I initially created this ticket to highlight the *live* aspect of the leaderboard table. I've renamed this ticket to better describe the recent discussion on the content of the leaderboards.

@thomasyu888 My understanding is that the leaderboard tables you have shown are live (i.e. continuously updated). Can you confirm that this is correct, in which case we do not need to o

[2021-01-08 20:50] tschaffter commented on #8
Thanks! I remember the meeting but forgot her name.

[2021-01-08 20:51] tschaffter commented on #8
Let's wait 1-2 week for us to come up with the website of the NLP Sandbox. Then we can contact her and Sean once again to see if there is an appetite on their end to collaborate on this project.

[2021-01-08 21:01] tschaffter commented on #6
There are two types of documentation required:

- How to prepare a dataset for one or more annotation tasks
- How to deploy the benchmarking infrastructure on MCW

I'll shortly create a ticket to track the preparation of the dataset preparation SOP.

The documentation on how to deploy the benchmarking infrastructure will be provided here: https://github.com/nlpsandbox/nlpsandbox-controller. There

[2021-01-08 21:03] ymnliu commented on #7
@tschaffter I will discuss with Hongfang on what to do. I believe the launching of public datasets will facilitate the discussion internally at Mayo (Legal, IT, etc).

[2021-01-11 18:30] yy6linda commented on #17
I added a [description](https://docs.google.com/document/d/1R1pQRx-6iURjJmmtLyGXVAMMA0ulD3RygHJc_dQ14hw/edit#) (under `leaderboard outlook`) of how each scoring matrix is calculated based on current [goldstandard](https://github.com/nlpsandbox/nlpsandbox-client/blob/develop/examples/example-patient-bundles.json).

[2021-01-11 18:35] tschaffter commented on #17
@yy6linda Your first link does not point to a specific section

[2021-01-11 18:37] yy6linda commented on #17
@tschaffter  Just updated the link

[2021-01-13 00:56] tschaffter commented on #7
Ultimately this idea is for the model submitted to be evaluate on a private dataset of Mayo Clinic. Initially the dataset can be very small and possibly grow over time. I'm looking toward deploying the following Data Hosting Sites. Each time a model is submitted, the model will be automatically transferred to each Data Hosting Site where it will be evaluated on different data. Only the performance

[2021-01-13 21:38] ymnliu commented on #7
We use Google Cloud instances with our own CD/CI pipelines. We can reuse the dataset from N3C. However, cloud servers are not free and CD/CI pipelines are needed to be built. If we made progress on getting synthetic datasets, the evaluation can be done anywhere.

[2021-01-18 16:35] tschaffter commented on #7
Does the N3C have a dataset of clinical note with human-made annotation similar to 2014 i2b2 NLP de-id challenge?

[2021-01-18 16:48] ymnliu commented on #7
It is work-in-progress. We are trying to have something available within a month. But we are not sure what the data usage agreement will be like. I will keep you posted on that.

[2021-01-18 16:52] tschaffter commented on #7
Thanks @ymnliu ! In parallel I had a discussion with @gkowalski and Bradley last week and MCW is likely to be able to provide initially 500 clinical notes for benchmarking annotators (date, person name, and physical addresses at first).

[2021-01-25 22:41] gkowalski commented on #12
I have submitted a first docker.synapse.org/syn22277847/mcw-date-annotator , which is just a fork of the existing https://github.com/nlpsandbox/date-annotator-example

[2021-01-26 04:54] tschaffter commented on #15
@thomasyu888 I think that two submissions per week is reasonable. This should drastically reduce the overfitting of models compared to what we observe in the COVID-19 DREAM Challenge. Also, in the event when a developer makes a submission and the performance is very bad due to a mistake, the developer has another chance to make a submission the same week.

[2021-01-26 04:54] #15 closed

[2021-01-27 01:17] tschaffter opened #18 "Add issue template to repositories"
Here is a [good example](https://github.com/nlpsandbox/docker-elk/issues/new/choose) from the elk-docker repo.
Offer an option to redirect to the discord server.

- [ ] nlpsandbox-schemas
- [ ] data-node
- [ ] date-annotator-example
- [ ] data-annotator-example-java
- [ ] person-name-annotator-example
- [ ] physical-address-annotator-example

[2021-01-27 14:28] tschaffter commented on #14
On January 25, Justin shared with me:

My idea is to wait for the launch of the NLP Sandbox in a week and then contact Meliha and show her the NLP Sandbox.

[2021-01-28 06:19] tschaffter opened #19 "Create Google form to collect log requests"
## Motivation

In most model-to-data challenges, the Synapse discussion forum gets quickly cluttered with messages asking the organizers to return the logs of a given submission. In order to clutter the discussion space, the idea is to create a form that participant can fill in to request logs or help with a submission. The information that we must collect are

- Synapse submission ID
- Synapse us

[2021-01-28 17:11] gkowalski commented on #12
![Screen Shot 2021-01-28 at 10 13 35 AM](https://user-images.githubusercontent.com/617805/106173426-8669db00-6159-11eb-8e5b-2f98f3758719.png)

I have no permission

![Screen Shot 2021-01-28 at 10 13 22 AM](https://user-images.githubusercontent.com/617805/106173462-91247000-6159-11eb-9089-ada02556f04a.png)

[2021-01-29 00:23] tschaffter commented on #19
@thomasyu888 Since you have experience assisting challenge participants, how does this way of doing sounds? I was thinking to use GitHub to track these requests but at this point I don't really see an advantage doing so.

[2021-01-29 01:32] tschaffter commented on #1
Done

[2021-01-29 01:32] #1 closed

[2021-01-29 02:04] tschaffter commented on #4
Now tracked in https://github.com/nlpsandbox/nlpsandbox-website-synapse/issues/17

[2021-01-29 02:04] #4 closed

[2021-02-02 02:27] tschaffter commented on #17
We have draft of the documentation on evaluation. We will further improve it as we work on the Synapse wiki pages.

[2021-02-02 02:27] #17 closed

[2021-02-02 02:36] tschaffter commented on #5
Done

[2021-02-02 02:36] #5 closed

[2021-02-04 00:47] tschaffter opened #20 "Create the pages NLP Sandbox website"

[2021-02-05 17:36] tschaffter opened #21 "Configure issue template to all repositories"
Start from https://github.com/nlpsandbox/date-annotator-example/issues/new/choose

I need to review this template, then I will set it to all repositories.

[2021-02-05 17:37] tschaffter opened #22 "Add CONTRIBUTING.md to all repositories"
I'm currently working on a CONTRIBUTING.md template that we will be able to use for most repositories.

[2021-02-05 17:53] tschaffter opened #23 "Add Pull Request template"

[2021-02-08 16:59] tschaffter opened #24 "Configure Lock app for all repository"

[2021-02-08 18:38] tschaffter commented on #21
- [ ] date-annotator-example
- [ ] date-annotator-example-java
- [ ] person-name-annotator-example
- [ ] physical-address-annotator-example
- [ ] data-node
- [ ] nlpsandbox-schemas
- [ ] phi-deidentifier
- [ ] nlpsandbox-website-synapse
- [ ] nlpsandbox-client

[2021-02-08 18:39] #21 closed

[2021-02-08 18:40] tschaffter commented on #18
Done. Duplicate of #21

[2021-02-08 18:40] #18 closed

[2021-02-08 21:30] gkowalski commented on #12
Believe this is done for at least one

[2021-02-08 21:38] #12 closed

[2021-02-09 22:23] tschaffter opened #25 "Create CloudFormation template"
@thomasyu888 Did you have time to start the CF template to deploy the stack to SciComp?

[2021-02-10 06:20] tschaffter commented on #3
Included in #20

[2021-02-10 06:20] #3 closed

[2021-02-11 20:59] ychae commented on #19
@tschaffter Here's the first pass of the [Google form](https://docs.google.com/forms/d/1XgPr7XcXjGdanordZQLCr9gLCGOPSMWK1SsNJcUZbSA/edit) for review.

[2021-02-11 23:32] tschaffter commented on #19
I made some changes. It looks good! Can we configure the form to send a notification to Tom, Yao and myself when someone submit a request?

[2021-02-11 23:37] tschaffter commented on #19
Task 1 checked

[2021-02-11 23:37] ychae commented on #19
Okay I turned on email notifications for new responses. I need to test whether it only gets sent to me or to all collaborators.

[2021-02-11 23:41] ychae commented on #19
@tschaffter this is the message that users see when they submit, is the copy okay?

`Thank you for your request! Please expect to hear from us in the next 2-3 business days. `

[2021-02-11 23:42] tschaffter commented on #19
I would go for 1-3 business day.

[2021-02-12 01:22] tschaffter commented on #25
Duplicate of https://github.com/nlpsandbox/nlpsandbox-controller/issues/48

[2021-02-12 01:22] #25 closed

[2021-02-13 18:52] tschaffter opened #26 "Review license used by the repository"
The current license is Apache 2.0

Other candidates:
- https://github.com/linuxserver/docker-swag/blob/master/LICENSE
- https://github.com/google/googletest/blob/master/LICENSE

[2021-02-14 22:11] tschaffter commented on #26
The Apache 2.0 license should fit the need of our community.

[2021-02-14 22:11] #26 closed

[2021-02-16 19:24] tschaffter commented on #19
@ychae Let me know when this ticket is ready to be closed.

[2021-02-17 22:09] ychae commented on #19
Here are the relevant links:
 - [Google form](https://docs.google.com/forms/d/e/1FAIpQLSch30S2FZQoeQNAIyRmrhHphO2Uq-lBERA_8C0deU6IjITA4Q/viewform)
 - [Sheet of responses](https://docs.google.com/spreadsheets/d/1XboWcUgBPbpOqDPDPATgGUdQ2pKQKk9vsRGsSA0MA78/edit#gid=125554388)

I added in a column with dropdown values to track who has responded to each request. For notifications, each person who woul

[2021-02-17 22:29] ychae commented on #19
[Discussion post](https://www.synapse.org/#!Synapse:syn22277124/discussion/threadId=7773) has been created although I wasn't able to pin it (I believe only admins can pin discussion posts).

<img width="1017" alt="Screen Shot 2021-02-17 at 2 26 44 PM" src="https://user-images.githubusercontent.com/12868382/108276324-7deb3b80-712c-11eb-834f-4ad17b71d52b.png">

[2021-02-17 22:37] tschaffter commented on #19
The message looks good! We can add it as it is to the [production site](https://www.synapse.org/#!Synapse:syn22277123/wiki/604824).

[2021-02-17 22:54] ychae commented on #19
Here's the discussion post in the prod site: https://www.synapse.org/#!Synapse:syn22277123/discussion/threadId=7774

[2021-02-18 00:47] tschaffter commented on #19
This ticket is now complete. Thanks!

[2021-02-18 00:47] #19 closed

[2021-02-18 00:55] tschaffter commented on #22
This has been done for most of the repositories.

[2021-02-18 00:55] #22 closed

[2021-02-18 01:03] tschaffter opened #27 "Deploy EC2 with example implementations"
The project documentation relies on the following three services

- Date Annotator stub, which is straight out of the generator to show the user the "do so magic!" responses
- Date Annotator Example
- PHI Deidentifier React app

I'm considering:

1. deploying these apps on the same EC2
2. place a load balancer that redirects tools.nlpsandbox.io to the EC2
3. Use nginx to setup the current redirect

[2021-02-18 01:23] thomasyu888 commented on #27
Let me know when you set up the docker compose, I will add this to the things I set up in my cloud formation stack.

[2021-02-18 04:13] tschaffter commented on #27
I created this dockerized stub for the Date Annotator:
https://github.com/nlpsandbox/date-annotator-stub

[2021-02-19 22:39] tschaffter commented on #13
@ymnliu Since you are a member of the NLP Sandbox Team, Synapse may prevent you from submitting a tool on your own. However please invite anyone you know at Mayo Clinic who may be interested in developing and submitting a tool to the NLP Sandbox.

[2021-02-19 22:39] #13 closed

[2021-02-19 22:40] #14 closed

[2021-02-22 03:34] tschaffter opened #28 "Consider linting markdown README of GH repositories in CI/CD workflow"
See [this example](https://github.com/nlpsandbox/docker-elk/blob/develop/.github/workflows/docs.yml).

[2021-02-22 03:35] tschaffter opened #29 "Investigate setting up forks update using PR"
See [this example](https://github.com/nlpsandbox/docker-elk/blob/develop/.github/workflows/update.yml)

[2021-02-22 03:38] thomasyu888 commented on #29
I think this could work as a template as well?  Just have to hard code the original repo.

[2021-02-24 04:39] tschaffter commented on #27
Replaced by these tickets:

- https://github.com/nlpsandbox/aws-cloudformation/issues/2
- https://github.com/nlpsandbox/aws-cloudformation/issues/3
- https://github.com/nlpsandbox/aws-cloudformation/issues/4

[2021-02-24 04:39] #27 closed

[2021-02-24 04:41] tschaffter commented on #20
The bulk of this task is done. I'm still working on the home page. Team members are reviewing the website pages and will send their feedback by the end of the week.

[2021-02-24 04:41] #20 closed

[2021-02-28 03:05] tschaffter commented on #24
- [x] https://github.com/nlpsandbox/nlpsandbox-website-synapse
- [x] https://github.com/nlpsandbox/nlpsandbox
- [x] https://github.com/nlpsandbox/nlpsandbox-client
- [x] https://github.com/nlpsandbox/nlpsandbox-controller
- [x] https://github.com/nlpsandbox/phi-deidentifier-app
- [x] https://github.com/nlpsandbox/phi-deidentifier
- [x] https://github.com/nlpsandbox/date-annotator-stub
- [x] https:

[2021-02-28 03:41] tschaffter commented on #24
Done

[2021-02-28 03:41] #24 closed

[2021-03-04 17:09] tschaffter opened #30 "Team review of the website"
Thanks for accepting to review pages of the website. As requested, here are the assignments to review specific pages:

- [NLP Sandbox Staging site](https://www.synapse.org/#!Synapse:syn22277124/wiki/604825)
- Submit your review as a PR that target the branch `staging` of the repository [nlpsandbox/nlpsandbox-website-synapse](https://github.com/nlpsandbox/nlpsandbox-website-synapse)

Please submit

[2021-03-04 17:14] tschaffter opened #31 "Fix new Hadolint warning DL3045"
Implement https://github.com/Sage-Bionetworks/research-benchmarking-technology/issues/11

- [x] aws-cloudformation
- [x] data-node
- [x] date-annotator-example
- [x] date-annotator-example-java
- [x] date-annotator-stub
- [x] discord
- [x] docker-elk
- [x] nlpsandbox
- [x] nlpsandbox-client
- [x] nlpsandbox-controller
- [x] nlpsandbox-schemas
- [x] nlpsandbox-website-synapse
- [x] person-name-anno

[2021-03-04 17:52] tschaffter commented on #31
Done

[2021-03-04 17:52] #31 closed, assigned to tschaffter

[2021-03-08 19:25] ymnliu commented on #30
@tschaffter may you grant me access to the page? My synapse user name is `ymnliu`, the same as GitHub.

I am seeing a message `You are not authorized to access the page requested.`

[2021-03-08 21:34] tschaffter commented on #30
@ymnliu I sent you an invite to join the Synapse team [NLP Sandbox Team](https://www.synapse.org/#!Team:3413390). You will have access to the NLP Sandbox staging site once you have accepted the invite.

[2021-03-11 21:54] tschaffter opened #32 "Create email addresses @nlpsandbox.io"
Example:

- admin@nlpsandbox.io
- team@nlpsandbox.io

I'm currently using admin@nlpsandbox.io on the website pages for prospective partner organizations.

[2021-03-13 03:51] tschaffter commented on #32
A suggestion from AWS WorkMail doc:

[2021-03-13 04:26] tschaffter commented on #32
I created an AWS WorkMail organization and three user accounts ($4/user/month):

- postmaster@nlpsandbox.io
- abuse@nlpsandbox.io
- team@nlpsandbox.io

The credentials to these account have been added to Sage favorite password manager.

I will look into configuring redirection to my @sagebase.org email address (I'll add a note to the credentials in the password manager).

[Source](https://help.ret

[2021-03-13 04:26] #32 closed, assigned to nobody

[2021-03-13 19:07] tschaffter commented on #9
Will reopen/create a new issues when we got a date for the launch webinar.

[2021-03-13 19:07] #9 closed

[2021-03-18 23:13] tschaffter commented on #30
Done

[2021-03-18 23:13] #30 closed, assigned to ymnliu, boyleconnor, yy6linda

[2021-03-18 23:14] tschaffter opened #33 "Fix nlpsandbox.io redirections"
The redirections fail now that I have re-created the s3 buckets in us-east-1 and re-create the CloudFront distribution.

[2021-03-18 23:20] tschaffter commented on #33
I just add to update the DNS records `nlpsandbox.io` and `www.nlpsandbox.io` so they redirect to the new CloudFront distribution.

[2021-03-18 23:20] #33 closed, assigned to tschaffter

[2021-03-19 04:56] tschaffter opened #34 "DockerHub PAT can't be used with peter-evans/dockerhub-description@v2"
## Issue

This issue arise as I tried to use a DockerHub personal access token (PAT) instead of password. The GH Action docker/build-push-action@v2 works fine but peter-evans/dockerhub-description@v2 - used to push README to DH - fails. [See why](https://github.com/peter-evans/dockerhub-description#action-inputs). According to this link, we can't use this section GH Action if we decide to enable 2

[2021-03-19 05:03] tschaffter commented on #34
A candidate is [christian-korneck/update-container-description-action@v1](https://github.com/marketplace/actions/update-container-description-action), which would also allow to set the short description on DH. This Action is not updated frequently and has only 10 GH stars (the current solution has 100).

The current solution is the one used in the documentation of docker/build-push-action@v2:
http

[2021-03-19 05:11] tschaffter commented on #34
Will close this issue in a week if nothing changed. Meanwhile, we will continue to use the DH password of the service account.

[2021-03-19 17:36] tschaffter opened #35 "Review alternative solutions for creating mailing list"
We are currently using two Synapse teams: one for communication (mailing list) and one for users who have accepted the *latest* version of the project rules.

An alternative solution could make it easier for visitors to join/leave the mailing list (e.g. would not require a Synapse account).

[2021-03-20 13:58] tschaffter opened #36 "Create a graph of the ecosystem"
Create a graph similar to the one James presented for the HTAN project. This graph should also include the GitHub repositories and the artifacts that they publish (Docker image, GitHub Pages, etc.).

Here are a few Lucidcharts we can start from:

- [NLP Sandbox: Infrastructure](https://lucid.app/lucidchart/04ca1c37-754b-4c6b-b6f3-53a10aad28f5/edit?page=0_0#)

[2021-03-20 13:59] tschaffter commented on #36
@thomasyu888 What was the link you shared with me yesterday when James presented his diagram?

[2021-03-21 20:33] tschaffter opened #37 "Make the NLP Sandbox public"
Justina and Hongfang are presenting the NLP Sandbox tomorrow at an AMIA conference. Here we give a shot at opening the NLP Sandbox by then.

Tasks:

- [x] Finalize the website and make it public (@tschaffter )
- [x] Update the leaderboard tables to include selected tool information (@thomasyu888 )
- [x] Benchmark the performance of the examples updated to API version 1.0.2 (@thomasyu888 )
- [x] Fi

[2021-03-22 00:18] thomasyu888 commented on #36
@tschaffter , not sure what link I actually shared...

[2021-03-22 04:41] tschaffter commented on #37
Currently using a Synapse Team for the mailing list for simplicity (for us). Another solution should be considered in the future that is more user friendly. The user would enter the email address in an HTML form, an email would be sent for the user to confirm the validity of the email, and there would be a way for the user to unsubscribe from the mailing list.

[2021-03-22 06:30] tschaffter commented on #37
Here is the config of the PHI Deidentifier App when running on AWS:

[code]

FYI @cascadianblue @thomasyu888

[2021-03-24 12:57] #37 closed, assigned to tschaffter

[2021-04-01 20:46] tschaffter opened #38 "Fix @nlpsandbox.io email accounts"
We are moving the infrastructure to us-east-1. The deletion of the AWS SSL certificate registered on us-west-1 broke the WorkMail accounts, also hosted on us-west-1. Delete these account and recreate them on us-east-1.

[2021-04-01 21:04] tschaffter commented on #38
The accounts to recreate:

![image](https://user-images.githubusercontent.com/3056480/113353855-26c3b380-92f3-11eb-9027-a2a648d23775.png)

[2021-04-05 20:24] tschaffter commented on #38
Initial email setup is described in https://github.com/nlpsandbox/nlpsandbox/issues/32

[2021-04-05 20:38] tschaffter commented on #38
I'm not able to redirect emails so far as last time...

[code]

[code]

[2021-04-05 20:43] tschaffter commented on #38
@ahayden I re-created the @nlpsandox.io email account on ~us-west-1~ us-east-1. However the rules that I created to redirect to @sagebase.org addresses fail (see low above). Has anything changed in the past 2 weeks in Sage configuration that could lead to this issue?

[2021-04-05 20:47] tschaffter commented on #38
I didn't have any issue setting up redirection when I created the initial WorkMail accounts in us-west-1 two weeks ago.

[2021-04-05 21:45] tschaffter commented on #38
This may be due to the following settings not being set. I had to set a bunch of them on the same page while I didn't have to do that the first time when I created the WorkMail accounts on us-west-1.

![image](https://user-images.githubusercontent.com/3056480/113630908-808eeb00-961d-11eb-9f25-73b4e41ed566.png)

[2021-04-05 21:57] tschaffter commented on #38
I followed [these instructions](https://docs.aws.amazon.com/ses/latest/DeveloperGuide/mail-from.html) to setup MAIL FROM, but the redirection rule still don't work.

![image](https://user-images.githubusercontent.com/3056480/113632040-432b5d00-961f-11eb-83c7-ffc33b8d7854.png)

NOTE: I chose the prefix `mail` arbitrarily. Wondering if there is a standard value for this mail from address.

[2021-04-06 18:22] tschaffter commented on #38
The redirection rule still does not work. Here is the error email received in `support@nlpsandbox.io` when I sent an email to this account using my Sage Gmail account.

[code]

@ahayden If you are not familiar with this type of issue, can we have AWS having a look at it?

[2021-04-07 17:54] tschaffter opened #39 "Create infrastructure diagram"
- [NLPSandbox.io diagram](https://lucid.app/lucidchart/422e3c0d-843d-464f-b7cb-429cba7428f8/edit?page=0_0#) (WIP)

Examples:

- [Early version of the diagram created in 2020](https://lucid.app/lucidchart/04ca1c37-754b-4c6b-b6f3-53a10aad28f5/edit?page=0_0#)
- [ROCC diagram](https://lucid.app/lucidchart/invitations/accept/inv_7e624631-1f58-4d82-b1dc-91e5f9f1e7b1)

[2021-04-22 15:51] tschaffter commented on #38
## Update

The redirection still does not work. For now I access emails by using WebMail UI.

[2021-04-22 15:51] #38 closed, assigned to tschaffter

[2021-04-22 15:52] tschaffter commented on #36
Now tracked in #39

[2021-04-22 15:52] #36 closed, assigned to tschaffter, thomasyu888

[2021-04-22 15:53] #34 closed, assigned to tschaffter

[2021-04-22 15:56] tschaffter commented on #11
The NLP Sandbox had a soft launch in late March but we haven't broadly communicated as we were waiting to connect MCU and Mayo Clinic site. Following a discussion today, the connection of these two sites is underway but is now planned for end of May. Therefore, I'm considering advertising the launch of the NLP Sandbox sooner (to discuss with team members and Justin). I will also prepare a nice one

[2021-04-22 15:56] #11 closed

[2021-04-22 15:57] tschaffter opened #40 "Create one slide to advertise the project"
Team members could use this slide at the end of a presentation to advertise the NLP Sandbox.

[2021-04-29 14:11] tschaffter opened #41 "Prepare i2b2 dataset for ID annotator"

[2021-04-29 14:12] tschaffter opened #42 "Prepare i2b2 dataset for contact annotator"

[2021-04-29 20:41] tschaffter opened #43 "Disable org-wide Docker Hub secrets"
All the example tools that we provide have a CI workflow that build and push a docker image to Docker Hub. An issue that came to mind this week is when we create a new tools from the GH template of another tool. There are cases where the second tool may attempt to push an image to the same Docker Hub repo as the template tool. An SOP to prevent that would be:

1. Create a second tool based on an e

[2021-04-29 20:53] tschaffter opened #44 "Identify target journal for the infrastructure manuscript"

[2021-04-30 20:30] gkowalski commented on #6
What annotation Types , PERSON , DOCTOR , LOCATION, etc are needed for our notes we're submitting ?

[2021-04-30 21:18] tschaffter commented on #6
@gkowalski The [NLP Sandbox schemas](https://github.com/nlpsandbox/nlpsandbox-schemas) is the reference for questions about the data and tool specification. The output of the person name annotator is defined [here](https://github.com/nlpsandbox/nlpsandbox-schemas/blob/aa5ed8857a2afb63f56f681729b4ce645ca88487/openapi/person-name-annotator/paths/textPersonNameAnnotations.yaml#L18), which in turns le

[2021-05-01 16:41] tschaffter opened #45 "Verify nlpsandbox.io domain on GH"
Instructions provided by GH:

Where XXX have been used to obfuscate real values.

[2021-05-02 02:17] tschaffter commented on #45
Done

![image](https://user-images.githubusercontent.com/3056480/116799970-d4241580-aab1-11eb-8e5f-5ce4379ec499.png)

[2021-05-02 02:17] #45 closed, assigned to tschaffter

[2021-05-17 18:33] tschaffter opened #46 "Format i2b2 dataset for ID and Contact annotators"
I will re-use my R notebook I created some time ago.

[2021-05-17 18:36] tschaffter opened #47 "Generate dummy/synthetic dataset for COVID Symptom annotation"
Generate a small, public dataset for the COVID symptom annotation task that can be stored to an instance of the NLP Sandbox Data Node.

[2021-05-26 21:43] tschaffter opened #48 "Create AWS Mail account in new AWS account"
Addresses:
- team@nplsandbox.io
- support@nlpsandbox.io
- postmaster@nlpsandbox.io

[2021-05-26 21:45] tschaffter commented on #48
<img width="822" alt="image" src="https://user-images.githubusercontent.com/3056480/119735345-061a6480-be31-11eb-8e8b-e0177b5f79f1.png">

[2021-05-26 22:17] tschaffter commented on #48
Done - tagging @thomasyu888

[2021-05-26 22:17] #48 closed, assigned to tschaffter

[2021-05-26 22:18] tschaffter commented on #46
Where the script will be made available: https://github.com/nlpsandbox/2014-i2b2-phi-annotation-dataset

[2021-05-29 06:10] tschaffter opened #49 "Fix TXT DNS record issue reported by AWS for hosted zone nlpsandox.io"
https://sagebionetworks.jira.com/browse/IT-1267

[2021-05-29 21:13] tschaffter opened #50 "Review example tool READMEs"
Try to make the README more concise.

### TODO

- [ ] Document the GH secret that must be set by the user for the CI workflow to works.
- [ ] We are now using tokens everywhere (update doc that still mention password somewhere)

[2021-05-29 21:16] tschaffter opened #51 "Follow up with UW regarding Sage-UW agreement/IRB"
Follow up with UW regarding and collect information about what is required in terms of agreements to enable UW to join the NLP Sandbox project.

[2021-05-29 21:17] tschaffter commented on #8
@yy6linda Can you follow up with Sean to get the deployment of the NLP Sandbox infrastructure started at UW?

[2021-05-29 21:21] tschaffter opened #52 "Confirm with Sage governance team that MCW is in good standing with us"
From past discussion, Bradley Taylor said that he does not require an agreement to be in place for his group to deploy the NLP Sandbox infrastructure at MCW and start evaluating the performance of submitted tools.

### TODO

- Confirm with Sage governance team that we indeed don't need an agreement to be put in place if MCW does not require one.

Tagging @gkowalski

[2021-05-29 21:27] tschaffter commented on #10
I want to prepare 2-3 short videos (less than 5 min each) to introduce the NLP Sandbox to developers.

Tentative topics:

- Setup development environment from a fresh system (e..g VirtualBox)
  - Install Node
  - Install Java (needed for the OpenAPI generator)
  - Install Docker
  - Create Synapse account
- Develop and submit first tool
  - Short intro to REST API
  - Create repo based on date ann

[2021-05-29 21:34] tschaffter opened #53 "Create YouTube account / channel"
Either create a dedicated YT account or create a playlist in Sage Bionetworks account. The former may give us more freedom when upload video quickly given the short timeline.

Related to #10

[2021-05-29 21:35] tschaffter commented on #41
Done in https://github.com/nlpsandbox/i2b2-phi-dataset

[2021-05-29 21:35] #41 closed, assigned to tschaffter

[2021-05-29 21:36] tschaffter commented on #42
Done in https://github.com/nlpsandbox/i2b2-phi-dataset

[2021-05-29 21:36] #42 closed, assigned to tschaffter

[2021-05-29 21:36] tschaffter commented on #43
Done

[2021-05-29 21:36] #43 closed, assigned to tschaffter

[2021-05-29 21:38] tschaffter commented on #44
Done

[2021-05-29 21:38] #44 closed, assigned to tschaffter

[2021-05-29 21:38] tschaffter commented on #46
Done in https://github.com/nlpsandbox/i2b2-phi-dataset

[2021-05-29 21:38] #46 closed, assigned to tschaffter

[2021-05-29 21:42] tschaffter opened #54 "Add content to COVID symptom annotation task website page"
Even if the infrastructure won't be ready to benchmark COVID symptom annotator at the time of the official launch on June 8, we still want to advertise this benchmark. Use the same format as the page on PHI annotation.

Where to make the edit: https://github.com/nlpsandbox/nlpsandbox.io/blob/staging/wiki/609582-SymptomAnnotation.md

[2021-05-29 21:47] tschaffter opened #55 "Create NLP article to be published to NCATS Ansible"
### TODO

- @tschaffter to review the current draft - make sure my name and Sage Bionetworks are mentioned to help clarifying lingering confusion between our work (NLP Sanbdox) and Hongfang's work (N3C-NLP).
- @jiaxinmachine88 to add a reference to "Thomas Schaffter" and "Sage Bionetworks".

[2021-05-30 13:53] tschaffter commented on #49
Done

[2021-05-30 13:53] #49 closed, assigned to tschaffter

[2021-05-30 15:41] tschaffter opened #56 "Review approach for submitting models on behalf of the NLP Sandbox Team"
Currently, submission are made on behalf of the NLP Sandbox Team, which include the developers of the NLP Sandbox. I proposed this approach to enable the users to clearly identify the tools that we submit in the leaderboard table.

I have two potential concerns:

- I don't want all the members of the NLP Sandbox Team to receive a message each time we submit a model. @thomasyu888 Can you confirm th

[2021-05-31 13:39] thomasyu888 commented on #56
@tschaffter

Yes this is a Synapse behavior when you submit on behalf of the team, everyone on the team gets an automated email from Synapse

Yes that is the case

Yes, we can definitely do this, we already have a `nlp-sandbox-bot` admin user that we can actually submit to the challenge as.   Did we want to use that?  This way we can all still submit as individuals.  I'm also happy to create a NLP

[2021-05-31 15:05] tschaffter commented on #56
@thomasyu888 Let's do that! We could also include the bot in the team. One advantage of submitting as a Team is that we can control the submitter name displayed in the leaderboard (i.e. the name of the team while individual username are fixed).

[2021-05-31 15:08] thomasyu888 commented on #56
This is not true. Synapse usernames can be changed at any time, Synapse userids are fixed.  That being said, lets create a team.  What do you want the team to be called?

[2021-05-31 15:24] tschaffter commented on #56
@thomasyu888 "NLP Sandbox Bots"

[2021-05-31 19:56] tschaffter opened #57 "Develop and submit Spark NLP-based NLP Sandbox Date Annotator"
The library Spark NLP can be used to annotate PHI information in text. The type of PHI annotation are identical to the annotation types defined by the 2014 i2b2 NLP De-identification Challenge, the same annotation we used as reference for the NLP Sandbox Schemas.

This task also aims at further testing the NLP Sandbox before its official launch on June 8.

### Tasks

- Register to the NLP Sandbox

[2021-05-31 19:57] tschaffter commented on #57
@yy6linda Tentatively assigning this task to you. Let's discuss it during Tuesday meeting.

[2021-05-31 20:02] tschaffter opened #58 "Develop and submit MCW PHI annotator"
For the sake of testing the infrastructure, package MCW date annotator as an NLP Sandbox tool and submit it for evaluation. The tool should be submitted by a dedicated MCW team to show where the tool comes from.

### Timeline

ASAP

@gkowalski Have you already started this task? If yes can you share the following information listed below?

- URL to MCW Synapse team
- URL to GitHub repository conta

[2021-05-31 20:03] tschaffter opened #59 "Develop and submit Mayo Clinic date annotator"
For the sake of testing the infrastructure, package Mayo Clinic date annotator as an NLP Sandbox tool and submit it for evaluation. The tool should be submitted by a dedicated Mayo Clinic team to show where the tool comes from.

### Timeline

ASAP

@ymnliu Have you already started this task? If yes can you share the following information listed below?

- URL to Mayo Clinic Synapse team
- URL to Gi

[2021-05-31 20:27] tschaffter opened #60 "Organize Post Launch Party"
Organize a virtual post launch party 1-2 weeks after the official launch of NLPSandbox.io.

Let's play a video game?

### Games suggestions (@tschaffter offers the game copies)

- [Overcooked 2](https://store.steampowered.com/app/728880/Overcooked_2/) - max 4 player - PC/Mac/Linux
- [Jackbox party pack 3](https://store.steampowered.com/app/434170/The_Jackbox_Party_Pack_3/) - max 8 players - only o

[2021-06-01 04:07] tschaffter opened #61 "Remove old Docker images from Synapse production site"
https://www.synapse.org/#!Synapse:syn22277123/docker/

Keep only:

- example tool images
- i2b2-phi-dataset docker image

I will update all the tools so that they push to Synapse instead of DockerHub. This will make life easier to developer who fork the example repo and want to push images to Synapse to easily submit the image to a submission queue.

Tagging @nlpsandbox/team

[2021-06-01 04:17] tschaffter opened #62 "Get permission to redistribute modified version of 2014 i2b2 dataset"
Original dataset is hosted [here](https://portal.dbmi.hms.harvard.edu/projects/n2c2-nlp/)

### Issue

The website hosting the 7-years-old data ask us to not redistribute the dataset. This public dataset, which does not contain sensitive information, is used in the NLP Sandbox to test the submitted tools before they are shipped to external data site. Ideally, we would like to return logs to the sub

[2021-06-01 04:26] tschaffter opened #63 "Contact Stephan Meystre for last chance to submit tool before public communication"
- Contact Stephan Meystre and Clinacuity developers who attended the first meeting.
- Attach screenshot of leaderboard and NLP Sandbox PHI Deidentifier dependencies

[2021-06-01 04:28] tschaffter opened #64 "Contact Alistair Johnson for last chance to submit tool before public communication"
- Contact Alistair Johnson and Tom Pollard.
- Attach screenshot of leaderboard and NLP Sandbox PHI Deidentifier dependencies

[2021-06-01 04:35] tschaffter opened #65 "Develop and submit UCSF PHI annotator"
Follow up with UCSF team. Scoring their tool would be ideal but not required for the launch.

[2021-06-01 04:49] thomasyu888 commented on #62
@tschaffter Currently the returning of logs is done manually as stated in in this [synapse wiki](https://www.synapse.org/#!Synapse:syn22277124/wiki/608145)

[2021-06-01 15:54] tschaffter commented on #61
Done

[2021-06-01 15:54] #61 closed, assigned to tschaffter

[2021-06-01 16:29] tschaffter opened #66 "Prepare MCW dataset"
- Notes are basically done
  - not yet ID and contact

[2021-06-01 20:15] tschaffter opened #67 "Write Sage blog post"
Published to https://sagebionetworks.org/news/

[2021-06-01 20:19] tschaffter commented on #67
@jiaxinmachine88 to ask if there is a system in place to track analytics data on sage main website as well as on Synapse.

[2021-06-01 20:21] tschaffter commented on #63
Cancelled

[2021-06-01 20:21] #63 closed, assigned to nobody

[2021-06-01 20:21] tschaffter commented on #64
Cancelled

[2021-06-01 20:21] #64 closed, assigned to nobody

[2021-06-02 00:44] jiaxinmachine88 commented on #67
@tschaffter can you review this blog post before Thursday morning? To give Hsiao-Ching time for one final read (she's made a lot of edits already to make it concise and punchy)!

https://docs.google.com/document/d/1xDlwDl6dW6nhVo4CSF7RjpT-TLtJJbrM-P6XKHxDunI/edit

[2021-06-02 02:20] jiaxinmachine88 commented on #55
Please take a read by EOW (Andrea would like everything to be signed off by Monday June 7th):
https://docs.google.com/document/d/19TibMEXgfsW0od6Rp0ZXu5rFBmc2ZWnpReOxBthdeFI/edit?ts=60afde20

[2021-06-02 15:27] tschaffter commented on #55
@jiaxinmachine88 Changes to make:

Since the article specifies Hongfang's title, let's also include mine (use either the prefix "Dr." or the suffix "PhD")

We are currently using three different ways to refer to the NLP Sandbox and I'm wondering if we should converge to only two:

1. NLPSandbox.io => That's the full name of the service and the address of the website. It makes sense to continue usi

[2021-06-02 16:11] tschaffter opened #68 "Identify how to track analytics information"
Information that would be useful to track:

1. Number  of visit to the Sage blog page and where do the visitors come from
2. Same information for the Synapse project behind nlpsandbox.io

@jiaxinmachine88 to ask Hsiao-Ching about how to do 1.
@tschaffter to  ask Bruce about 2.

[2021-06-02 16:29] tschaffter opened #69 "Set submission quota to 1 submission / team / day"
This is to make life easier to developers at least during the first 1-2 months following the launch of the project.

- [x] @thomasyu888 to update the quota settingss
- [x] @tschaffter to update the documentation on nlpsanbox.io

[2021-06-02 17:09] jiaxinmachine88 commented on #62
Received initial "no" response; emailed back with additional clarifying points from the issue above on Wed 6/2.

[2021-06-02 17:43] jiaxinmachine88 commented on #53
@tschaffter it might be useful to include the [Get Started with Synapse documentation ](https://help.synapse.org/docs/Getting-Started.2055471150.html)

[2021-06-02 17:57] tschaffter commented on #53
@jiaxinmachine88 Good point. The doc site wasn't available when we wrote the NLP Sandbox doc.

### TODO

- [ ] Mention new Synapse doc in on NLPSandbox.io

[2021-06-02 18:24] tschaffter opened #70 "Remove example tools from Docker Hub"

[2021-06-03 05:00] jiaxinmachine88 commented on #53
FYI, YouTube Guidelines from Hsiao-Ching: "We can upload videos to the Sage YouTube channel. Videos need to be well-lit and have great audio. If there’s a script, please share the script so that it can be uploaded for the transcript (for accessibility purposes)."

[2021-06-03 07:03] thomasyu888 commented on #69
@tschaffter I'm going to set the quota to be this until end of August. Due to the new evaluation endpoint, once there are submissions to the queue, it is difficult to change the quota.  I think there is a bug that I need to file with platform.

[2021-06-03 12:35] tschaffter commented on #69
@thomasyu888 What is the protocol if we want to update the submission quota before end of August?

[2021-06-03 12:41] thomasyu888 commented on #69
It currently isn't possible if there are submissions.   It's something that has to be worked out with platform, but basically once you start a round, you can't seem to modify the round until it ends (if there are submissions).

You can delete all submissions for that round and you can modify the quota.

[2021-06-03 12:43] tschaffter commented on #69
@thomasyu888 By "deleting all submissions", you mean making sure that there are no longer "pending" submission in the queue? Your not saying that scored submission need to be remove, correct?

[2021-06-03 12:50] thomasyu888 commented on #69
@tschaffter With the current infrastructure, ALL submissions have to be removed.  Not just pending submissions.   It's probably worth filing a Jira ticket with platform about this. (I just discovered this today)

[2021-06-03 13:41] tschaffter opened #71 "Create thumbnail and title page for YT videos"
https://sagebionetworks.jira.com/browse/DESIGN-377

[2021-06-04 09:42] thomasyu888 commented on #56
Created "NLP Sandbox Bots" team.

[2021-06-04 09:42] #56 closed, assigned to thomasyu888

[2021-06-04 18:21] jiaxinmachine88 commented on #68
Synapse has google analytics; Nick on the platform team has agreed to share before and after stats in a CSV file with me.

[2021-06-04 21:06] #68 closed, assigned to jiaxinmachine88

[2021-06-04 21:28] tschaffter commented on #69
Enabling to update submission quota for existing queue is tracked [here](https://sagebionetworks.jira.com/browse/PLFM-6779).

[2021-06-05 12:31] tschaffter opened #72 "Register Mayo Clinic Team to NLPSandbox.io"
List of registered teams: https://www.synapse.org/#!Synapse:syn22277123/wiki/609135
Button to register is here: https://www.synapse.org/#!Synapse:syn22277123/wiki/609137

[2021-06-05 22:41] tschaffter commented on #70
Done

[2021-06-05 22:41] #70 closed, assigned to tschaffter

[2021-06-05 23:47] #69 closed, assigned to tschaffter, thomasyu888

[2021-06-06 15:43] tschaffter opened #73 "Introduce Monument of NLP Heroes"
Every month, write on a stone slab - a markdown table - the name of the best-performing teams for each task. The "stone slab" will remain over time, enabling best-performers to apply their "right to boast" for a given month. They may also include in their resume that they were the best performing team for a given task at a given time point or for N consecutive weeks. Ultimately we will provide an

[2021-06-06 15:50] thomasyu888 commented on #73
I like this idea, will this be a separate wiki page?

[2021-06-06 16:36] #55 closed, assigned to tschaffter, jiaxinmachine88

[2021-06-06 18:44] tschaffter commented on #57
@yy6linda Unless you have already started this task, I'll re-assign it to Clement.

[2021-06-06 19:10] tschaffter commented on #73
@thomasyu888 Yes, it would be on a different page than the existing leaderboards.

[2021-06-06 19:45] yy6linda commented on #57
I started last week to look into a tool similar to this. Kathleen(UCSF philter) and I also are looking into this as a contrast to UCSFphilter’s performance in nlp sandbox. Sorry I am swamped lately for my milestone exam. Will have more time for this after my exam on 7th.

[2021-06-06 22:10] tschaffter commented on #57
@yy6linda I asked Clement to package Spark NLP as an NLP Sandbox tool Date Annotator to get feedback from him on the development and submission process.

[2021-06-06 22:38] yy6linda commented on #57
@tschaffter Hi Thomas, do you mind just waiting after our talk tomorrow to decide on this task? I am worried there are quite some overlappings with my work in baselining NLP tools and collaboration with Kathleen and Nic.

[2021-06-06 23:06] tschaffter commented on #57
@yy6linda There is no overlap and thus reason to wait. Clement is packaging a tool I have identified (Spark NLP) but he is not going to do any analysis. Once again, I'm interested in his feedback regarding developing and submitting a tool so that we can improve the documentation.

[2021-06-07 17:12] jiaxinmachine88 commented on #62
Harvard did not approve our request for exemption. Thomas has been updating the documentation with the Harvard dataset terms of use to get ahead of this. Closing issue for now.

[2021-06-07 17:29] #62 closed, assigned to jiaxinmachine88

[2021-06-07 22:25] jiaxinmachine88 opened #74 "Set up NLP Sandbox Webinar"
Coordinating webinar for NLP Sandbox, roughly 3 weeks after launch to provide interested participants enough time to register.

[2021-06-07 23:42] jiaxinmachine88 opened #75 "Create Data Access Terms page under resources"

[2021-06-08 06:27] tschaffter commented on #50
Keeping track of this task in each repository.

[2021-06-08 06:27] #50 closed, assigned to tschaffter

[2021-06-08 06:38] tschaffter opened #76 "Rename MCW dataset to `mcw-phi-<dataset_version>`"

[2021-06-08 13:47] gkowalski commented on #66
ID and contact have been added and loaded . I needed to drop some early notes that were annotated incorrectly

[2021-06-08 13:54] gkowalski opened #77 "Need a Whitelist for data-node sites for access control"
### Is your proposal related to a problem?

### Describe the solution you'd like

We here at MCW require a white list of sites the data-node needs to communicate to / from when downloading code to be run and delivering results back to sagebase . In this way we can lock down access to that list for all the data-node docker images and prevent accidental release of data outside the network.

### Desc

[2021-06-08 14:02] thomasyu888 commented on #77
Technically, the data node doesn't interact with any site, but the orchestrator and its workflow does.

- dockerhub
- Services all talk to each other (ELK, datanode, orchestrator)
- Annotation Service + curl commands to the annotation service (all on the same instance, not external) .  The annotation service is ran on an internal docker network called `submission` so the service doesn't have any a

[2021-06-08 14:23] gkowalski commented on #77
So the downloaded docker images from a random person only has access to the "submission" docker network ? Thought we went thru some work to give it access to other docker images on localhost:8080 ?

[2021-06-08 14:49] tschaffter opened #78 "Fix URL redirection phi-deidentifier.nlpsandbox.io"
- http://phi-deidentifier.nlpsandbox.io/ works
- phi-deidentifier.nlpsandbox.io does not work

[2021-06-08 16:36] tschaffter opened #79 "Create SOP for server down time"
- Scheduled down time
- Unscheduled

[2021-06-08 16:41] tschaffter opened #80 "Review Log Request Form"
https://docs.google.com/forms/d/e/1FAIpQLSch30S2FZQoeQNAIyRmrhHphO2Uq-lBERA_8C0deU6IjITA4Q

[2021-06-08 18:25] yy6linda commented on #8
Sean is checking with Justin P for infrastructure budget and personels. He will email everyone once the details are confirmed

[2021-06-08 18:35] tschaffter commented on #73
Added to the home page

[2021-06-08 18:35] #73 closed, assigned to nobody

[2021-06-09 12:16] gkowalski commented on #76
Added : mcw-phi-20210608

[2021-06-09 12:16] gkowalski commented on #76
@thomasyu888  done.

[2021-06-09 12:39] gkowalski commented on #77
We are setting up access rules to the above web sites , but we cannot grant access to particular URL's like https://raw.githubusercontent.com/Sage-Bionetworks/ChallengeWorkflowTemplates/ so we are addressing access to raw.githubusercontent.com in another way that will take a day or 2 to implement.  Our data node will be down when we are not online to monitor it.  which is 8:00am - 5:00pm CDT

[2021-06-09 13:25] #76 closed, assigned to gkowalski

[2021-06-09 17:11] ymnliu commented on #72
I think it has been completed. Should we close the issue?

[2021-06-09 19:32] #72 closed, assigned to ymnliu

[2021-06-10 12:27] gkowalski commented on #77
We are finding quite a bit more in terms of outbound connections to various sites not named. We are just going to block all these and see if we still have a working node . Some examples :

205.233.216.52.in-addr.arpa     name = s3-1.amazonaws.com.
125.237.210.54.in-addr.arpa     name = ec2-54-210-237-125.compute-1.amazonaws.com.
130.127.120.34.in-addr.arpa     name = 130.127.120.34.bc.googleuserco

[2021-06-10 12:32] gkowalski commented on #77
Since it's not a requirement to run these docker images under a container orchestrator,  where it seems much easier to fine tune network control,  would it be better for each docker container to define it's own endpoints via an iptables control script ? In this way we have a documented list of endpoints for each container that we all agree on. This should also not impact your current AWS infrastru

[2021-06-10 13:32] #80 closed, assigned to jiaxinmachine88

[2021-06-10 13:33] #74 closed, assigned to jiaxinmachine88

[2021-06-10 13:33] #67 closed, assigned to jiaxinmachine88

[2021-06-10 13:35] tschaffter commented on #59
@ymnliu Can you submit your tool by the end of this week?

[2021-06-10 13:36] tschaffter commented on #54
Done

[2021-06-10 13:36] #54 closed, assigned to ymnliu

[2021-06-10 13:36] tschaffter commented on #66
Done

[2021-06-10 13:36] #66 closed, assigned to gkowalski

[2021-06-10 13:38] tschaffter commented on #52
@jiaxinmachine88 Can we close this ticket?

[2021-06-10 13:39] tschaffter commented on #29
Done

[2021-06-10 13:39] #29 closed

[2021-06-10 13:40] tschaffter commented on #23
Done for most repo

[2021-06-10 13:40] #23 closed

[2021-06-10 13:41] tschaffter commented on #6
Virtually done. MCW has prepared a dataset to enable the benchmarking of PHI annotator and is now fine tuning the benchmarking infrastructure on their site.

[2021-06-10 13:41] #6 closed

[2021-06-10 14:29] thomasyu888 commented on #79
Scheduled maintenance: Second Thursday of each months
- 7PM - 10PM PT
- 9PM - midnight CDT
- 10AM - 1PM CST

[2021-06-10 15:43] ymnliu commented on #59
@tschaffter I made a few updated submissions but they did not pass through. Can you check on this issue https://github.com/ymnliu/annotator_test/issues/2? From the logs, I cannot tell much about why it breaks.

[2021-06-10 19:34] tschaffter commented on #59
@ymnliu Please open a ticket in your repo. I will have a look if you can copy paste the error message and describe how to reproduce the error.

[2021-06-10 20:33] ymnliu commented on #59
@tschaffter The error message is in the issue body of https://github.com/ymnliu/annotator_test/issues/2. The issue can be reproduced on Synpase, when making a submission based on the referred repo. It can run on the local container, but the Synpase platform will return with the error message and the log file.

[2021-06-11 01:33] thomasyu888 commented on #59
Thanks @ymnliu .   I ran your annotation locally and this is the issue:

Can you make it so that you don't return `null` for dateFormat, but just an empty string?

[2021-06-11 04:18] ymnliu commented on #59
Thanks! That helps. My impression is the field is optional but seems it is not. Now my submission has been scored.

[2021-06-11 13:42] thomasyu888 commented on #77
No the docker images from a random person only has access to the "submission" docker network

[2021-06-11 13:43] thomasyu888 commented on #77
Are you saying that each service would live in its own endpoint essentially?  That how we currently have it.  Each service has its own ec2.

[2021-06-14 18:13] tschaffter commented on #59
@ymnliu @thomasyu888 The easiest solution to this issue is to set the value of `TextDateAnnotation.dateFormat` to an empty string.

[2021-06-18 23:20] cascadianblue opened #81 "My Submissions aren't getting Accepted"
### Problem description

I tried submitting a tool to the person name annotator submission queue. My first version ([0.1.1](https://github.com/cascadianblue/person-name-annotator/releases/tag/0.1.1)) was partially evaluated (I was sent scores for the I2B2 dataset), but it seems to have failed on the MCW dataset.

I then changed the info in the `api/v1/tool` endpoint (I had accidentally left it unt

[2021-06-18 23:27] tschaffter commented on #81
@thomasyu888 Where could Connor find more information about why the `API api/v1/tool endpoint not implemented or implemented incorrectly`?

[2021-06-18 23:41] thomasyu888 commented on #81
There are annotator functions within the nlpsandbox-client that calls the tool API endpoint, so maybe the bug can be reproduced locally.  I can work on trying to add the actual error message as well along with this text.

[2021-06-19 20:10] cascadianblue commented on #81
The problem appears to be that the workflow orchestrator gets tripped up by apostrophes `'` in the tool `description`. This seems to indicate that data is not getting sanitized properly.

[2021-06-21 02:58] tschaffter opened #82 "Release NLP sandbox 1.2.0"
### Primary changes

- Renamed physical annotator to location annotator
- Add PHI annotator (groups individual annotator endpoints)

### Downstream actions required

- [x] Update Physical Address Annotation example (@tschaffter )
  - Now called location annotator
  - Update to schemas 1.2.0
  - https://github.com/nlpsandbox/location-annotator-example/pull/56
- [x] Update date annotator to schemas

[2021-06-21 03:02] tschaffter commented on #82
@thomasyu888 The following resources have been updated to the schemas 1.2.0 released today:

- schemas
- data node
- date annotator
- location annotator
- the dataset JSON files (see above)

The python client update PR will be triggered tomorrow or if we want sooner, we can update the update workflow trigger.

Can you please start using these resources?

[2021-06-21 05:29] tschaffter opened #83 "Review permission to all repositories"

[2021-06-21 13:04] tschaffter opened #84 "Add option `-y` to all `conda create` command"
In the README of tools mainly.

[2021-06-21 13:25] tschaffter opened #85 "Add `git fetch` to tool update instructions"

[2021-06-22 14:07] tschaffter opened #86 "Write R notebook that pulls annotations from a data node"
This notebook will live in a docker-rsutdio environment similar to the projects listed below

- https://github.com/Sage-Bionetworks/docker-rstudio
- https://github.com/nlpsandbox/i2b2-phi-dataset

I'm thinking to call this new project nlpsandbox/nlpsandbox-analysis.

Example of notebooks that could be added later to this environment and shared with the community:

- Get stats about a dataset in th

[2021-06-22 15:47] yy6linda commented on #86
@tschaffter Can it be a jupyter notebook? I am more familiar with python than R.

[2021-06-22 17:01] tschaffter commented on #86
@yy6linda The docker-rstudio environment has been created to write notebooks where R and python can be used together. See the example notebook https://github.com/Sage-Bionetworks/docker-rstudio/blob/main/notebooks/examples/r-and-python.Rmd

[2021-06-25 16:58] tschaffter commented on #81
@thomasyu888 I believe the issue is fixed.

[2021-06-25 17:02] thomasyu888 commented on #81
@tschaffter it's not fixed yet on my end

[2021-06-29 00:11] #82 closed, assigned to tschaffter

[2021-07-02 00:38] tschaffter opened #87 "July Dependancies Update"
Please complete the update by July 7.

#### @thomasyu888

- [x] docker-elk

#### @cascadianblue

- [ ] phi-deidentifier-example
- [ ] phi-deidentifier-app

#### @tschaffter

- [x] nlpsandbox-schemas
- [x] person-name-annotator-example
- [x] i2b2-phi-dataset
- [x] covid-symptom-annotator-example
- [x] data-node
- [x] phi-annotator-example
- [x] location-annotator-example
- [x] id-annotator-example

[2021-07-02 01:06] tschaffter commented on #87
### Note

Part of the update SOP that I still have to describe before next month is to create a new branch and merge all dependabot PR to it, before merging this branch to the default branch. Unfortunately Dependabot can not be configured to target a non-existing branch ([yet](https://github.com/dependabot/feedback/issues/888)).

[2021-07-03 01:33] #60 closed, assigned to jiaxinmachine88

[2021-07-03 01:45] tschaffter commented on #53
### Update

I tried to create the account "nlpsandbox@gmail.com" but it's already taken. I set an email to this address to ask if the own would consider giving us control over this account. Waiting on an answer.

EDIT:

[2021-07-03 01:46] tschaffter commented on #71
Let's first create video, then review if title pages are needed.

[2021-07-03 01:59] tschaffter commented on #53
See [A Gmail username is already taken, but email does not exists](https://support.google.com/mail/forum/AAAAK7un8RU2VjA-eWImRw/?hl=en&msgid=sMPCvsHJCAAJ&gpf=d/msg/gmail/2VjA-eWImRw/sMPCvsHJCAAJ)

[2021-07-03 02:23] tschaffter commented on #53
I was able to create the account `nlpsandbox.io@gmail.com`. On YT, I get an error when trying to create the channel. Will try again a few hours after the creation of the google account.

[2021-07-04 13:01] tschaffter commented on #53
Done: https://www.youtube.com/channel/UCmOrQIvlfpFzNfclnI_-Kog

[2021-07-04 13:01] #53 closed, assigned to tschaffter, jiaxinmachine88

[2021-07-09 23:25] jiaxinmachine88 opened #88 "Evaluate MCW PHI annotator"
Target 7/23

[2021-07-13 01:00] jiaxinmachine88 commented on #52
This can be closed

[2021-07-13 01:00] #52 closed, assigned to jiaxinmachine88

[2021-07-13 16:55] gkowalski commented on #58
This should be renamed to "MCW PHI Annotator" and use  https://github.com/nlpsandbox/phi-annotator-example to  add various annotations over time.

[2021-07-17 02:49] tschaffter commented on #8
Tagging @jiaxinmachine88

[2021-07-20 12:53] #77 closed, assigned to nobody

[2021-07-20 13:04] tschaffter commented on #87
Closing despite two repo not updated (@cascadianblue )

[2021-07-20 13:04] #87 closed, assigned to tschaffter, boyleconnor

[2021-07-20 23:44] jiaxinmachine88 commented on #51
History of engagement:
- 5/29 First Kickoff Call
- 6/4 Email Follow Up
- 6/9 Email Response
- 7/6 Email Follow Up
- 7/13 Email Follow Up
- 7/16 Email Follow Up

As my communications have not gotten through, the next step would be to have the project lead or internal UW researcher reach out.

[2021-07-22 04:14] tschaffter opened #89 "Update documentation on how to request submission log"
https://docs.google.com/document/d/1cAToW56YYrHUnW8tFGNfhHKUGDr5jCPaJm2KCF1zrLY/edit?usp=sharing

[2021-09-09 01:39] jiaxinmachine88 commented on #71
Closing out, Stockard delivered this work for us here: [NLP Sandbox YouTube Thumbnail](https://sagebionetworks.jira.com/browse/DESIGN-379?focusedCommentId=133735&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-133735)

[2021-09-09 01:39] #71 closed, assigned to jiaxinmachine88

[2021-10-12 16:53] boyleconnor opened #90 "New Reference Annotator Using Spacy"
### Describe the solution you'd like

Spacy is a commonly-used NLP libarary; similar to HuggingFace, many developers package up their models as Spacy modules, and so it would be nice to have a reference annotator to plug this into.

[2021-10-25 21:46] jiaxinmachine88 opened #91 "Package Spacy.io tool"
spaCy is a free, open-source library for advanced Natural Language Processing (NLP) in Python. It’s designed specifically for production use and helps you build applications that process and “understand” large volumes of text. It can be used to build information extraction or natural language understanding systems. More facts and figures here: https://spacy.io/usage/facts-figures

Perhaps we can i

[2021-10-25 21:47] #91 closed, assigned to tschaffter

[2021-10-26 23:33] tschaffter commented on #7
For now Sage is hosting the Mayo Clinic dataset. We can re-open this ticket when Mayo Clinic is ready to deploy their own data site.

[2021-10-26 23:41] tschaffter opened #92 "Deploy Mayo Clinic dataset"
These two datasets support the PHI annotation tasks:

- [i2b2 dataset](https://www.synapse.org/#!Synapse:syn26403524)
- [Mayo Clinic dataset](https://www.synapse.org/#!Synapse:syn26403525)

Technically the i2b2 dataset has not changed since the last version so we can skip updating it. Only the Mayo Clinic dataset should be deployed (only the evaluation set).

Note that this version of the Mayo Cli

[2021-11-01 00:21] tschaffter opened #93 "Push the Mayo Clinic dataset to Sage data node instance"

[2021-11-01 00:21] tschaffter opened #94 "Update the infra to evaluate date and person name annotation tools on Mayo Clinic dataset"
Depends on #93

[2021-11-01 00:21] tschaffter opened #95 "Update submission and leaderboard tables for the date and person name annotation tasks"

[2021-11-01 00:29] tschaffter commented on #88
Duplicate of #58

[2021-11-01 00:29] #88 closed, assigned to gkowalski

[2021-11-02 14:46] tschaffter opened #96 "Add PHI annotation task (groups all endpoints)"
Add a task to the NLP Sandbox to enable PHI annotators to be evaluate for all the different types of annotations (date, person name, etc.).

- [ ] #97
- [ ] #98
- [ ] #99
- [ ] #100
- [ ] #101
- [ ] #102

[2021-11-02 14:54] tschaffter opened #97 "Add endpoint `/annotate` to the PHI Annotator tool schema"

[2021-11-02 14:54] tschaffter opened #98 "Update the PHI annotator example (Python) to add the new annotation endpoint"

[2021-11-02 14:54] tschaffter opened #99 "Prepare the infrastructure for the new PHI annotation task"
- Depends on #97
- Depends on #101

[2021-11-02 14:54] tschaffter opened #100 "Update the website to include the new PHI annotation task"

[2021-11-02 14:54] tschaffter opened #101 "Update the scoring script to support the evaluation of PHI annotator (all types of annotation)"

[2021-11-02 14:54] tschaffter opened #102 "Submit the updated PHI annotator example to the new PHI annotation task"
- Depends on #99

[2021-11-03 15:57] thomasyu888 commented on #92
Do you have the dataset name and dataset version you would like me to adopt?

[2021-11-03 20:43] tschaffter commented on #92
@thomasyu888 Dataset name can be `mayo-clinic`. Is the version a date? If yes, please use the date when [the dataset](https://www.synapse.org/#!Synapse:syn26403525) has been generated and pushed to Synapse.

[2021-11-06 17:03] tschaffter opened #103 "Make example tools README more user-friendly"
Follow [the example](https://github.com/alexa-samples/community-templates/tree/master/survey-skill-template) adopted by this repository to create a multi-page README.

Motivations:
- Shorter README (long README are scary)
- Possibly re-use some pages across multiple repositories

[2021-11-09 16:08] thomasyu888 commented on #93
Added `mayo-clinic-20211026` dataset

[2021-11-09 16:08] #93 closed, assigned to thomasyu888

[2021-11-09 17:55] #94 closed, assigned to thomasyu888

[2021-11-09 18:20] thomasyu888 commented on #92
@tschaffter The pieces are basically there.  You can try submitting to the date and person queues now.  I just need to put together the leaderboard / dashboards now.

Heres an example dashboard: https://www.synapse.org/#!Synapse:syn22277124/wiki/608220.  Its going to get more and more wide as we add more centers.

[2021-11-09 19:59] tschaffter commented on #92
@yy6linda Can you try submitting the example PHI annotator tool"?

[2021-11-10 14:00] thomasyu888 commented on #92
@tschaffter Are you sure about the dataset name being `mayo-clinic-phi` or would you prefer `mayo-phi`?  I would like to not have to change it again.

[2021-11-10 14:11] thomasyu888 commented on #95
@tschaffter

I noticed for the leaderboards we had conditions like: `MCW_submission_status = 'SCORED'`

The problem with adding `Mayo_submission_status = 'SCORED'` is that the existing submissions aren't scored on the Mayo data so no rows will be returned.  We could maybe say `(Mayo_submission_status = 'SCORED' or Mayo_submission_status is null)` but that might have other weird implications.

View

[2021-11-10 15:04] tschaffter commented on #92
@thomasyu888 You know what, let's keep the current name as it is. There will probably a new version of the dataset next year and we can change the name at that time. So nothing else to do for the dataset name.

[2021-11-11 21:45] tschaffter commented on #95
For now Mayo only has Date and Person name annotation so let's only use the Mayo dataset for these tasks.

[2021-11-15 16:23] tschaffter opened #104 "Prepare Rocky 2021 presentation"

[2021-11-18 15:15] tschaffter commented on #95
Done

[2021-11-18 15:15] #95 closed, assigned to thomasyu888

[2021-11-18 15:15] tschaffter commented on #92
Done

[2021-11-18 15:15] #92 closed, assigned to thomasyu888

[2021-12-07 18:55] tschaffter commented on #104
Done

[2021-12-07 18:55] #104 closed, assigned to tschaffter

[2021-12-07 18:56] tschaffter opened #105 "Fix http to https redirection for the PHI de-identifier"
https://phi-deidentifier.nlpsandbox.io/

The same url with `http://` should redirect to the https version.